#oops{
    background-color: aqua;
}
#oops #error-text img {
    margin: 85px auto 20px;
    height: 342px;
}
#oops #error-text span {
    position: relative;
    font-size: 3.3em;
    font-weight: 900;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    font-size: larger;
    text-align: center;
}