<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact list</title>
    <span th:replace="~{index :: bootstrapImports}"></span>
</head>
<body>
    <header class="mb-5" th:insert="~{index :: nav.nav}"></header>
    <main class="container">
        <h1 class="bold fs-1">Contact List</h1>
        <table th:if="${!personsList.isEmpty()}" class="table table-dark table-hover rounded overflow-hidden table-striped text-center align-middle mt-5">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${personsList}">
                    <td th:text="${p.firstName}"></td>
                    <td th:text="${p.lastName}"></td>
                    <td th:text="${p.age}"></td>
                    <td>
                        <a th:href="@{/persons/{personId}(personId=${p.id})}" class="btn btn-outline-info"><i class="bi bi-eye"></i> Details</a>
                        <a th:href="@{/persons/edit/{personId}(personId=${p.id})}" class="btn btn-outline-warning"><i class="bi bi-pen"></i> Edit</a>
                        <a th:href="@{/persons/delete/{personId}(personId=${p.id})}" class="btn btn-outline-danger"><i class="bi bi-trash3"></i> Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p th:if="${personsList.isEmpty()}">There is no contact in the database yet!</p>
        <hr>
        <div class="text-end">
            <a th:href="@{/persons/add}" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add a Person</a>
        </div>
    </main>
</body>
</html>