<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pokémon Details</title>
</head>
<body>
  <h1>Détails du Pokémon</h1>
    <div>
      <h2 th:text="${pokemon.name}"></h2>
      <p th:text="'Numéro de Pokédex : ' + ${pokemon.nationalPokedexNumber}"></p>
      <p th:text="'Types : ' + ${pokemon.types}"></p>
      <p th:text="'Capacités : ' + ${pokemon.abilities}"></p>
      <img th:src="${pokemon.imageUrl}" alt="Image du Pokémon">
      <p th:text="'Taille : ' + ${pokemon.height}"></p>
      <p th:text="'Poids : ' + ${pokemon.weight}"></p>
    </div>
  </body>
</html>