<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 PAGE NOT FOUND</title>
    <span th:replace="~{index :: bootstrapImports}"></span>
</head>
<body>
    <header th:insert="~{index :: nav.nav}"></header>
    <div id='oops'>
        <div id='error-text'>
            <img class="align-item-center" src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
            <span class="text-danger fs-1 mx-auto bold">404 PAGE</span>
        </div>
    </div>
</body>
</html>